<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    {% for todo in todos %}
    <p>{{ todo.task }} <a href="">Kész</a> <a href="">Törlés</a></p>
    {% endfor %}
    <br>

    <form action="" method="post">
        <p>Új tennivaló</p>
        <input type="text" name="todo">
        <input type="submit" name="Mentés">
    </form>
</body>
</html>